---
import Layout from '../../components/Layout.astro';

// 모든 Markdown 파일을 가져옵니다.
const posts = await Astro.glob('./*.md');
---

<Layout title="Blog">
  <h1>Blog</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))}
  </ul>
</Layout>