---
// src/components/Footer.astro
---

<footer style="text-align: center; padding: 20px; background-color: #f1f1f1; font-size: 14px;">
    <p>&copy; 2024 Seyeon Lee. All rights reserved.</p>
  </footer>
  