---
// src/components/Layout.astro
import Header from './Header.astro';
import Footer from './Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{Astro.props.title || "Default Title"}</title> <!-- 동적으로 title 사용 -->
    <link rel="icon" href="/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body>
    <header>
      <Header />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>

